<form>
    <div class="mb-3">
      <label for="exampleInputFirstname" class="form-label">First name</label>
      <input type="email" class="form-control" id="exampleInputFirstname" aria-describedby="Last name !">
    </div>
    <div class="mb-3">
      <label for="exampleInputLastname" class="form-label">Last name</label>
      <input type="Last name" class="form-control" id="exampleInputLastname">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Email</label>
        <input type="Email" class="form-control" id="exampleInputEmail">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>